{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container mw-100">
  <div class="row my-5">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="text-center">Welcome to PROGICA</h1>
      <p class="text-center">find the gite that suites your vacation</p>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row home_container">
   <div class="row my-5">
    <div class="col-4"></div>
    <div class="col-4">
      <h4 class="text-center">Our latest postings</h4>
    </div>
    <div class="col-4"></div>
  </div>
    <div class="row">
      {% for gite in gites %}
      <div class="card mx-auto my-5" style="width: 20rem;">
        {% if gite.imageName %}
        <img src="{{ vich_uploader_asset(gite, 'imageFile') }}" class="card-img-top" alt="...">
        {% else %}
        <img src="images/img/home.jpg" class="card-img-top" alt="...">

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{gite.name}}</h5>
          <p class="card-text"><small>{{gite.city}}</small></p>
        </div>
        <a href="{{path('browse_show', {'id': gite.id})}}" class="btn btn-primary m-3">See more</a>
      </div>
      {% endfor %}
    </div>
    <div class="col-6">
            <a href="{{path('browse_index')}}" class="btn btn-primary m-3">See all gites</a>

</div>
  </div>
</div>



{% endblock %}